
<div class="login-page">
  <div class="form">
    <form class="login-form">
      <input type="text" [(ngModel)]="username" name="username" placeholder="¿Cómo te llamas?"/>
      <input type="password" [(ngModel)]="password" name="password" placeholder="Pasword"/>
      <button  (click)="login()" ype="submit" name="action" >Login</button>
      <p class="message">Not registered? <a href="/signup">Go to SignUp</a></p>
    </form>
    <p *ngIf="error" class="error"> {{ error }} </p>
  </div>
</div>
