body{
  min-height: 1500px;
}
.licat{
  display: inline;
 }
 .navbar-brand{
   color: #333 !important;
 }
 .categories{
   font-size: medium;
 }
 .general{
   margin-left: 7%;
   margin-right: 7%;
 }
 .smallprofile{
  width: 40px;
 }  
 .rigth{
   margin-right: 1%;
 }
 .dropdown-toggle{
   color: #22313F
 }
.licat{
    display: inline;
   }
   .categories{
     font-size: medium;
   }
   .general{
     margin-left: 7%;
     margin-right: 7%;
   }
   .categories2{
     margin-top: 8%;
   }
   .smallprofile{
    width: 40px;
   }
   .rigth{
     margin-right: 1%;
   }

  .editor{
      padding-top: 50px;
  }
  .fr-box.fr-basic .fr-element{
    min-height: 300px  !important;
}

.create{
    text-align: center;
}
.resume{
    text-align: center;
}

.createform{
    margin-top: 8%;
}
agm-map {
    height: 300px;
  }
  .map{
    margin-top: 7%;
  }
