<div *ngIf="this.user">
    <nav class="navbar navbar-trans navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" [routerLink]="['/home']">STORIES</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right rigth">
                    <li class="dropdown">
                        <!-- Intentar poneer la imagen de perfil -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <img class="smallprofile" src="https://image.freepik.com/iconos-gratis/perfil-macho-sombra-de-usuario_318-40244.jpg" alt="">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a [routerLink]="['/signup']">¿No estás registrado?</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a [routerLink]="['/new']">Nueva historia</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a [routerLink]="['/profile', user._id]">Mi perfil</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">¿A quién sigues?</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">LOGOUT</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"></div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="container map">
        <h3>Escoge un lugar</h3>
        <div class="form-group">
            <input placeholder="search for location" autocorrect="on" autocapitalize="on" spellcheck="on" type="text" class="form-control"
                #search [formControl]="searchControl">
        </div>
        <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>
    </div>
    <div class="container create">
        <div class="">
            <div class="col-md-2"></div>
            <div class="col-md-8 createform">
                <form>
                    <label> Título </label>
                    <input class="title" type="text" [(ngModel)]="title" name="title" required/>
                    <label> Resumen </label>
                    <input class="resume" type="text" [(ngModel)]="resume" name="resume" required/>
                    <div class="editor">
                        <div [froalaEditor] type="text" [(ngModel)]="text" name="text" required>Hello Mundo!</div>
                    </div>
                    <input type="hidden" id="userId" [(ngModel)]="this.user._id" name="userId" required>
                    <input  id="lat" [(ngModel)]="latitude" name="lat" style="visibility:hidden" required>
                    <input  id="lng" [(ngModel)]="longitude" name="lng"  style="visibility:hidden" required>
                    <button ype="submit" name="action" (click)="newPub(title, text, userId, resume,  latitude, longitude)"> Publicar</button>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>


</div>