<div *ngIf="this.user">
    <nav class="navbar navbar-trans navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" [routerLink]="['/home']">STORIES</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right rigth">
                    <li class="dropdown">
                        <!-- Intentar poneer la imagen de perfil -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <img  class="smallprofile" src="https://image.freepik.com/iconos-gratis/perfil-macho-sombra-de-usuario_318-40244.jpg" alt="">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                                <li>
                                        <a [routerLink]="['/signup']">¿No estás registrado?</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                            <li>
                                <a [routerLink]="['/new']">Nueva historia</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a [routerLink]="['/profile', user._id]">Mi perfil</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">¿A quién sigues?</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">LOGOUT</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
  
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"></div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="container map">
        <h3>Escoge un lugar</h3>
        <div class="form-group">
          <input placeholder="search for location" autocorrect="on" autocapitalize="on" spellcheck="on" type="text" class="form-control" #search [formControl]="searchControl">
        </div>
        <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
          <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>
      </div>
    <div class="container create">
        <div class="">
            <div class="col-md-2"></div>
            <div class="col-md-8 createform">
                <form>
                    <label> Título </label>
                    <br>
                    <input class="title" type="title" [(ngModel)]="title" name="title" />
                    <br>
                    <div class="input-group input-group-lg resume">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Resumen</span>
                        </div>
                        <textarea class="form-control" aria-label="With textarea"></textarea>
                      </div>
                    <br>
                    <div class="editor" >
                    <div [froalaEditor] type="text" [(ngModel)]="text" name="text" >Hello Mundo!</div>
                  </div>
                    <br>
                    <input type="hidden" [(ngModel)]="this.user._id" name="this.user._id" >
                    <input type="hidden" [(ngModel)]="this.user.username" name="this.user.username">
                    <input id="lat" [(ngModel)]="latitude" name="lat" placeholder="Latitude" style="visibility:hidden">
                    <input id="lon" [(ngModel)]="longitude" name="log" placeholder="Longitude" style="visibility:hidden">
                    <br>
                    <a  [routerLink]="['/home']">
                      <button  (click)="newPub(title, text, this.user._id, this.user.username)"> Publicar</button>
                    </a>
                    </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    
  </div>
  
