<div *ngIf="this.user">

  
    <form>
      <label> ¿Título? </label>
      <input type="title" [(ngModel)]="title" name="title" />
      <br>
      <label> Contenido </label>
      <!-- <input type="text" [(ngModel)]="text" name="text" /> -->
      <div [froalaEditor] type="text" [(ngModel)]="text" name="text" >Hello Mundo!</div>
      <br>
      <input type="hidden" [(ngModel)]="this.user._id" name="this.user._id" >
      <input type="hidden" [(ngModel)]="this.user.username" name="this.user.username">
      <br>
      <a  [routerLink]="['/home']">
        <button  (click)="newPub(title, text, this.user._id, this.user.username)"> Publicar</button>
      </a>
      </form>
      <a [routerLink]="['/home']"> Volver a Home</a>
  </div>
  
