.menu {
    display: flex;
  }
  
  .menu__bird {
    margin-left: auto;
    margin-right: auto
  }
  li{
    list-style:none;
  }
  .menu {
    border: 1px solid red;
    height: 60px;
    align-items: center;
    padding: 0 15px;
    border: 1px solid rgba(238,238,238 ,1);
    border-radius: 5px;
    color: rgba(117,117,117 ,1);
    box-shadow: 5px 10px 20px -20px rgba(85,172,238 ,1);
  }
  .menu li {
    cursor: pointer;
  }
  .menu li:hover{
    color: rgba(85,172,238 ,1);
  }
  .menu__bird {
    color: rgba(85,172,238 ,1);
    font-size: 1.3em;
  }
  #p{
    color: rgba(85,172,238 ,1);
    font-size: 1.3em;
  }
  .menu li:not(:last-child):not(.menu__bird) {
    margin-right: 10px;
  }
  .menu li  i:not(.fa-menu):not(.fa-search):not(.fa-user-circle-o) {
    margin-right: 3px;
  }
  .menu li > button {
    font-size: 0.8em;
    border: 0;
    background: rgba(85,172,238 ,1);
    color: #fff;
    border-radius: 100px;
  }

@keyframes clap {
    0% {
      opacity: 0;
      transorm: scale(0);
    }
    60% {
      opacity: 1;
      transform: translateY(-100px) scale(1);
    }
    80%{
      transform: translateY(-190px) scale(0.6);
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes pulse {
    0% {
      box-shadow: 0 0;
    }
    70% {
      box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }
  
  /* Layout and positioning styles */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }
  .claps_button {
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #02b875;
    color: #02b875;
    width: 66px;
    height: 66px;
    outline: 0;
    cursor: pointer;
    filter: drop-shadow(0 3px 12px rgba(0, 0, 0, 0.05));
    transform: scale(1);
    transition: all .1s ease-in;
    z-index: 1;
    fill: #02b875;
    pointer-events: visible;
  }
  .claps {
    /* opacity: 0; */
    border-radius: 50%;
    background-color: #02b875;
    color: #fff;
    position: absolute;
    width: 66px;
    height: 66px;
    border: none;
    z-index: 0;
  }
  
  /* initiates the transforms */
  button.is_clicked ~ button.claps {
    animation: clap 1s ease-in-out forwards;
  }
  button.claps_button:hover {
    border-color: #02b875;
    color: #00ab6b;
    fill: #00ab6b;
    animation: pulse 2s infinite;
  }
  
  .container_text{
    width: 300px !important;
  }
  .licat{
    display: inline;
   }
   .navbar-brand{
     color: #333 !important;
   }
   .categories{
     font-size: medium;
   }
   .general{
     margin-left: 7%;
     margin-right: 7%;
   }
   .smallprofile{
    width: 40px;
   }  
   .rigth{
     margin-right: 1%;
   }

   .center{
     width: 500px;
    font-size: medium !important;
    margin-top: 5%;
   }

   .general{
    display: inline-block;
   }

   .like{
    position: fixed;
   }
   like{
     align-content: center;
     margin: 2px;
   }
   .general{
     margin-top: 10%;
   }
   agm-map {
    height: 250px;
    width: 100%;
    margin-top: 6%;
  }
  .map{
    margin-top: 6%;
  }
  .container_map{
    margin-top: 6%;
    height: 250px;
  }
  .detailBox {
    width:320px;
    border:1px solid #bbb;
    margin:50px;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}
.writtenby{
  font-size:20px;
  border-bottom: 1px solid black;
}
