@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* 
PALETA DE COLORES:
    ROJO: #BF7676E
    PASTEL: #f7e6d9
    BLANCO: #FFFFFF
    VERDE: #c2ead2
    OSCURO: #4B4E60
    GRIS: #D9D9D9

*/
*{
    color: #4B4E60;
    font-family: OSWALD, sans-serif;
}
