<div class="login-page">
    <div class="form">
      <form class="login-form">
        <input type="text" [(ngModel)]="name" name="name" placeholder="¿Cómo te llamas?"/>
        <input type="surname" [(ngModel)]="surname" name="surname" placeholder="Apellidos"/>
        <input type="username" [(ngModel)]="username" name="username" placeholder="Nick"/>
        <input type="email" [(ngModel)]="email" name="email" placeholder="Tu mejor email"/>
        <input type="password" [(ngModel)]="password" name="password" placeholder="Pasword"/>
        <button (click)="signup()" ype="submit" name="action" >Signup</button>
        <p class="message">Yet registered? <a href="/login">Go to Login</a></p>
      </form>
    </div>
  </div>

   