<body>
  <div *ngIf=currentUser>
    <nav class="navbar navbar-trans navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" [routerLink]="['/home']">STORIES</a>

        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right rigth">
            <li class="dropdown">
              <!-- Intentar poneer la imagen de perfil -->
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Hi, {{currentUser.username}}

                <img class="smallprofile" src="https://image.freepik.com/iconos-gratis/perfil-macho-sombra-de-usuario_318-40244.jpg" alt="">
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a [routerLink]="['/signup']">
                    ¿No estás registrado?
                  </a>
                </li>
                <li role="separator" class="divider"></li>

                <li>
                  <a [routerLink]="['/new']">Nueva historia</a>
                </li>
                <li role="separator" class="divider"></li>

                <li>
                  <a [routerLink]="['/profile', currentUser._id]">Mi perfil</a>
                </li>

                <li role="separator" class="divider"></li>
                <li>
                  <a href="#">¿A quién sigues?</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <button (click)="logout()"> Logout </button>
                </li>

              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>



    <div class="header">
      <div class="imagen">
        <img class="img-circle imagen" src="https://image.freepik.com/iconos-gratis/perfil-macho-sombra-de-usuario_318-40244.jpg">
      </div>
    </div>
    <div class="name">
      <h1>{{user.username}}</h1>
      <div *ngIf="user._id === currentUser._id">
        <button class="btn editar btn-info" [routerLink]="['/edit', user._id]">
          Editar
        </button>
      </div>
    </div>
    <div class="container container1">
      <div class="row">
        <div class="col-md-4 ">
          <div class="aportaciones">
            <h5 class="aportaciones">
              Post
              <p class="text_container1">
                {{publication.length}}</p>
               </h5>
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="follower">
            <div *ngFor="let f of follow">
              <div *ngIf="user._id == f.userId">
                <h5 class="follower">
                    Follower
                  <p class="text_container1"> {{f.followerID.length}} </p>
                  </h5> 
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="following">
            <div *ngFor="let f of follow">
              <div *ngIf="user._id == f.userId">
                <h5 class="following">
                  Following 
                  <p class="text_container1">
                    {{f.followingID.length}}</p>
                   </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="this.user">

      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div *ngFor="let p of publication">

              <!--Card-->
<div class="card card-cascade wider reverse my-4">

    <!--Card image-->
    <div class="view overlay">
        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="imagenes img-fluid">
        <a href="#!">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>
    <!--/Card image-->

    <!--Card content-->
    <div class="card-body text-center">
        <!--Title-->
        <h4 class="card-title"><strong>{{p.title}}</strong></h4>
        <h5 class="indigo-text"><strong><a [routerLink]="['/profile', p.userId._id]">{{p.userId.username}}</a></strong></h5>

        <p class="card-text">{{p.resume}}
        </p>

    </div>
    <!--/.Card content-->

</div>
<!--/.Card-->

            </div>
          </div>
          <div class="col-md-3 info">

            <h5>{{user.surname}}</h5>
            <div class="divider"></div>
            <h5>{{user.email}}</h5>
            <div class="divider"></div>
            <h5>{{user.username}}</h5>
            <div class="divider"></div>
            <h5>{{user.name}}</h5>
            <div class="divider"></div>
            <p>
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                Seguidores
              </button>
            </p>
            <div class="collapse" id="collapse1">
              <div class="card card-body">
                <div *ngFor="let f of follow">
                  <div *ngIf="user._id == f.userId">
                    <ul *ngFor="let follower of f.followerID">
                      <li>
                        <a [routerLink]="['/profile', follower._id]">{{follower.username}}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <p>
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                Seguidos
              </button>
            </p>
            <div class="collapse" id="collapse2">
              <div class="card card-body">
                <div *ngFor="let f of follow">
                  <div *ngIf="user._id == f.userId">
                    <ul *ngFor="let follower of f.followingID">
                      <li>
                        <a [routerLink]="['/profile', follower._id]">{{follower.username}}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <input type="hidden" id="userId" [(ngModel)]="user._id" name="userId">
            <input type="hidden" id="currentId" [(ngModel)]="this.sessionService.getUser()._id" name="this.pS.getUser()._id">
            <div *ngIf="this.user._id != this.sessionService.getUser()._id">
              <button (click)="followUser(user._id, this.sessionService.getUser()._id )">
                <i class="ion-person-add"></i>
                Follow
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</body>