body{
    min-height: 1500px;
}
.container1{
    border-top: 1px solid black;
    margin-top: 60px !important;
}
.img-rounded{
    width: 100px;
}
.imagen{
    margin: 15px;
    margin-top: 7%;
    width: 150px;
    margin-left: 40%
}
.img-circle{
    padding-top: 40%;

}
img{
    display: block;
    margin: auto;
}

.name{
    display: block;
    margin-left: 47%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.editar{
    margin-left:2% !important;
}
.aportaciones{
    text-align: center;
    margin: 15px;
    border-radius: 5px;
    font-size: 25px !important;

}
.follower{
    text-align: center;
    margin: 15px;
    border-radius: 5px;
    font-size: 25px !important;

}
.following{
    text-align: center;
    margin: 15px;
    border-radius: 5px;
    font-size: 25px !important;

}
.profile{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
}
.header{
    display: block;
    align-content: center;
    background-image: url("http://fotolector.diariovasco.com/2014/data/media/1/carretera.jpg");
    height: 350px;
}
/* -------------NAVBAR------------ */
.licat{
    display: inline;
   }
   .navbar-brand{
     color: #333 !important;
   }
   .categories{
     font-size: medium;
   }
   .general{
     margin-left: 7%;
     margin-right: 7%;
   }
   .smallprofile{
    width: 40px;
   }  
   .rigth{
     margin-right: 1%;
   }
   .dropdown-toggle{
     color: #22313F
   }
   
   /* ------------- */

   .cardimage{
       width: 100%;
   }

   .card{
       display: block;
       margin: 8%;
       border: 1px solid gray;
       border-radius: 5px;
   }

   .pestañas{
       margin-left: 40% !important;
   }

   .container1{
       margin-top: 5px;
       margin-bottom: 5px;
   }
   .pestañas{
    margin-top: 10px;
   }
   .tab-content{
    display: table-cell;
        vertical-align: middle;
        text-align: center;
   }
   .card{
    display: inline-block;
    text-align: left;
   }
   .col-sm-9 publications{
       margin-top: 10%;
   }

   .info{
    margin-top: 75px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 30px;
    background-color: #c2ead2;
   }
   .divider{
       border-bottom: 1px solid gray;
       margin: 30px;
   }
   .btn-primary{
       background-color: #BF7676 !important;
       border: 1px solid #BF7676 !important;
       border-radius: 10px;
   }
   .text_container1{
       color: #BF7676
   }

   .imagenes{
       width: 100% !important;
   }