<nav class="navbar navbar-trans navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/home']">STORIES</a>

        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right rigth">
                <li class="dropdown">
                    <!-- Intentar poneer la imagen de perfil -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                           Hi, {{user.username}}
                            
                        <img class="smallprofile" src="https://image.freepik.com/iconos-gratis/perfil-macho-sombra-de-usuario_318-40244.jpg" alt="">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a [routerLink]="['/signup']">
                                ¿No estás registrado?
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
               
                            <li>
                                <a [routerLink]="['/new']">Nueva historia</a>
                            </li>
                            <li role="separator" class="divider"></li>

                            <li>
                                <a [routerLink]="['/profile', user._id]">Mi perfil</a>
                            </li>

                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">¿A quién sigues?</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <button (click)="logout()"> Logout </button>
                            </li>

                    </ul>
                </li>
            </ul>
        </div>
        </div>
</nav>



<div class="header">
  <div class="imagen">
    <img src="https://image.freepik.com/iconos-gratis/perfil-macho-sombra-de-usuario_318-40244.jpg" class="img-rounded" alt="">
  </div>
  <div class="name">
    {{user.username}}
  </div>
  <div class="container container1">
    <div class="row">
      <div class="col-md-4 ">
        <p class="aportaciones">
          <i class="fal fa-paper-plane"></i> 15</p>
      </div>
      <div class="col-md-4 ">
        <div class="follower">
          <div *ngFor="let f of follow">
            <div *ngIf="user._id == f.userId">
              <i class="ion-person-stalker"></i>
              <h5>{{f.followerID.length}}</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="following">
          <div *ngFor="let f of follow">
            <div *ngIf="user._id == f.userId">
              <h5>{{f.followingID.length}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="this.user">
  <div class="container">
    <div class="row">
      <div class="col-sm-3  profile">
        <p>Nombre: {{user.name}}</p>
        <p>Apellidos: {{user.surname}}</p>
        <p>Nick: {{user.username}}</p>
        <p>Email: {{user.email}}</p>


        <!-- Seguidores!!!!! -->
        <p>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
            Seguidores
          </button>
        </p>
        <div class="collapse" id="collapse1">
          <div class="card card-body">
            <div *ngFor="let f of follow">
              <div *ngIf="user._id == f.userId">
                <ul *ngFor="let follower of f.followerID">
                  <li>
                    <a [routerLink]="['/profile', follower._id]">{{follower.username}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <p>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
            Seguidos
          </button>
        </p>
        <div class="collapse" id="collapse2">
          <div class="card card-body">
            <div *ngFor="let f of follow">
              <div *ngIf="user._id == f.userId">
                <ul *ngFor="let follower of f.followingID">
                  <li>
                    <a [routerLink]="['/profile', follower._id]">{{follower.username}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <ul>
          <li>
            REDES SOCIALES
          </li>
          <li>
            REDES SOCIALES
          </li>
          <li>
            REDES SOCIALES
          </li>
          <input type="hidden" id="userId" [(ngModel)]="user._id" name="userId">
          <input type="hidden" id="currentId" [(ngModel)]="this.sessionService.getUser()._id" name="this.pS.getUser()._id">
          <div *ngIf="this.user._id == this.sessionService.getUser()._id">
            <button>
              Editar
            </button>
          </div>
          <div *ngIf="this.user._id != this.sessionService.getUser()._id">
            <button (click)="followUser(user._id, this.sessionService.getUser()._id )">
              <i class="ion-person-add"></i>
              Follow
            </button>
          </div>
        </ul>
      </div>
      <div class="col-sm-9 publications">

          <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#home">Publicaciones</a></li>
              <li><a data-toggle="tab" href="#menu1">Editar</a></li>
              <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
            </ul>
            
            <div class="tab-content">
              <div id="home" class="tab-pane fade in active">
                  <div *ngFor="let p of publication">
                      <P>AQUÍ VA LA IMAGEN DEL ARTÍCULO</P>
                      <h2>{{p.title}}</h2>
                      <p>{{p.resume}}</p>
                      <a [routerLink]="['/post', p._id]">Leer</a>
              </div>
              </div>
              <div id="menu1" class="tab-pane fade">
                  <form>
                      <label> ¿Cómo te llamas? </label>
                      <input type="text" [(ngModel)]="user.name" name="name" />
                      <br>
                      <label> ¿Y tus apellidos? </label>
                      <input type="text" [(ngModel)]="user.surname" name="surname" />
                      <br>
                      <label> ¿Quieres cambiar tu username? </label>
                      <input type="text" [(ngModel)]="user.username" name="username" />
                      <br>
                      <label> Email </label>
                      <input type="email" [(ngModel)]="user.email" name="email" />
                      <br>
                      <label> Pequeña descripción </label>
                      <input type="text" [(ngModel)]="user.text" name="text" />
                      <br>
                      <div>
                        <button (click)="editUser(user)"> ¡Editar!</button>
                      </div>
                      <a [routerLink]="['/home']"> Volver a Home</a>
                  
                    </form>
              </div>
              <div id="menu2" class="tab-pane fade">
                <h3>Menu 2</h3>
                <p>Some content in menu 2.</p>
              </div>
            </div>
        

        </div>
      </div>
    </div>
  </div>