body{
    min-height: 1500px;
}
.container1{
    border-top: 1px solid black;
}
.img-rounded{
    width: 100px;
}
.imagen{
    margin: 15px;
    margin-top: 8%;
    
}
img{
    display: block;
    margin: auto;
}

.name{
    display: block;
    margin-left: 47%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.aportaciones{
    margin: 15px;
    border: 1px solid black;
    border-radius: 5px;

}
.follower{
    margin: 15px;
    border: 1px solid black;
    border-radius: 5px;

}
.following{
    margin: 15px;
    border: 1px solid black;
    border-radius: 5px;

}
.profile{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
}
.header{
    display: block;
    align-content: center;
    background-image: url("http://fotolector.diariovasco.com/2014/data/media/1/carretera.jpg");
    height: 350px;
}
/* -------------NAVBAR------------ */
.licat{
    display: inline;
   }
   .navbar-brand{
     color: #333 !important;
   }
   .categories{
     font-size: medium;
   }
   .general{
     margin-left: 7%;
     margin-right: 7%;
   }
   .smallprofile{
    width: 40px;
   }  
   .rigth{
     margin-right: 1%;
   }
   .dropdown-toggle{
     color: #22313F
   }
   
   /* ------------- */

   .cardimage{
       width: 300px
   }

   .card{
       display: block;
       margin: 8%;
       border: 1px solid gray;
       border-radius: 5px;
   }

   .pestañas{
       margin-left: 40% !important;
   }