<main>
    <ul class="menu" role="navigation">
        <li>
            <i class="fa fa-home"></i>Home</li>
        <li>
            <i class="fa fa-bell-o"></i>
        </li>
        <li>
            <i class="fa fa-envelope-o"></i>Messages</li>
        <li class="menu__bird">
            <p class="p">STORIES</p>
            <!-- <i class="fa fa-menu">
                  STORIES
              </i> -->
        </li>
        <li>
            <i class="fa fa-user-circle-o"></i>
        </li>
        <li [routerLink]="['/new']">
            <button>Escribir</button>
        </li>
    </ul>
</main>

<div class="container">
    <div class="row header">
        <div class="col-sm-12">

        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Se está hablando...</h2>


                <div class=" row ">
                    <div *ngFor="let p of publications; let i = index">
                        <div *ngIf="i < 4">
                            <div class="col m4">


                                <div class="card" style="width: 20rem;">
                                    <img class="card-img-top img-thumbnail" src="https://estaticos.elperiodico.com/resources/jpg/4/5/1469204435754.jpg" alt="Card image cap">
                                    <div class="card-block">
                                        <h4 class="card-title">{{p.title}}</h4>
                                        <h5 class="card-title">Escrito por <a [routerLink]="['/profile', p.userId._id]">{{p.userId.username}}</a></h5>
                                        <p class="card-text">{{p.resume}}</p>
                                        <a [routerLink]="['/post', p._id]" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>


                                <a [routerLink]="['/profile', p.userId._id]"></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>