<div *ngIf="this.publications">
    <p>menu(CAMBIAR TODO, DESARROLLO)</p>
    <div *ngIf="this.user">
        <a [routerLink]="['/profile', this.user._id]"> Mi perfil </a>
        <a [routerLink]="['/new']"> Crear Historia </a>
    </div>
    <div *ngIf="!this.user">
        <h2>¿Y si te registras?</h2>
        <a href="/signup">Signup</a>
        <h2>¿Ya estás registrado??</h2>
        <a href="/login">Signup</a>
    </div>


    <h2>Se está hablando...</h2>
    <div class="flexContainer flexSpaceAround">
    <div class="col" *ngFor="let p of publications">
            <div class="row">
                <div class="col s12 m7">
                    <div class="card">
                        <div class="card-image">
                            <img class="img" src="https://estaticos.elperiodico.com/resources/jpg/4/5/1469204435754.jpg">
                            <span class="card-title">{{p.title}}</span>
                        </div>
                        <div class="card-content container_text" [froalaView]="p.text">

                        </div>
                        <div class="card-action">
                            <a [routerLink]="['/post', p._id]">Leer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="this.authService.getUser()._id!=undefinded">
        <button (click)="logout()">
            <a href="/login">Logout </a>
        </button>
    </div>

    <h1>¡¡¡PROTEGER TODAS LAS RUTAS!!!</h1>
</div>